<launch>
  <arg name="publisher_topic" default="door_objects"/>
  <arg name="camera_base" default="/r0/mount_camera_tof"/>
  <arg name="source_frame" default="$(arg camera_base)"/>
  <arg name="world_frame" default="/map"/>
  <arg name="launch_rosbag" default="true"/>
  <arg name="skip_rosbag" default="0"/>
  <arg name="bag_file" default="/media/veracrypt4/bag_data/intel_d435_2.bag"/>

  <group if="$(arg launch_rosbag)">
    <node pkg="rosbag" type="play" name="player" output="screen"
          args="--clock -d 4 -s $(arg skip_rosbag) $(arg bag_file)"/>
  </group>

  <node name="door_detector_image_processor_node" pkg="tuw_door_detection" type="door_detector_image_processor_node"
        output="screen">
    <param name="publisher_topic" value="$(arg publisher_topic)"/>
    <param name="source_frame" value="$(arg source_frame)"/>
    <param name="world_frame" value="$(arg world_frame)"/>
    <remap from="image_rgb" to="$(arg camera_base)/color/image_raw"/>
    <!-- <remap from="image_depth" to="$(arg camera_base)/depth/image_rect_raw"/> -->
  </node>
</launch>
