<launch>
	
	<arg name="laser_topic" default="r0/laser0"/>
	<arg name="fs_root" default="/media/felix/c8b268c7-3328-46f6-abfc-6cff02c5326c"/>
	<arg name="filename" default="laser_and_cam_with_amcl.bag"/>
	<arg name="bag_file" default="$(arg fs_root)/bag_data/$(arg filename)"/>
	<arg name="skip_bag_s" default="0"/>
	
	<param name="use_sim_time" value="True"/>
	
	<node pkg="map_server" type="map_server" name="map_server" args="/home/felix/pCloudDrive/bag_files/map.yaml" output="screen"/>

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen"/>
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/felix/intel.rviz" output="screen"/>

	<node pkg="rosbag" type="play" name="player" output="screen"
		  args="--clock -d 4 $(arg bag_file)"/>
	
	<node name="sensor_model_evaluator_node" pkg="sensor_model_evaluator" type="sensor_model_evaluator_node" output="screen">
		<param name="laser_topic" value="$(arg laser_topic)"/>
	</node>
	
</launch>
